---
layout: default
---

{% capture opencontrol_component %}{{ page.product_info.opencontrol_component }}{% endcapture %}
{% capture control_family_shorthand %}{{ page.product_info.control_family_shorthand }}{% endcapture %}
{% capture name %}{{ page.product_info.name }}{% endcapture %}


<!-- Create an array of 'opencontrol_component' responses against the 'control_family'
  Returns data array such as:

  control_responses[0]: {"control_key"=>"AC-1", "standard_key"=>"NIST-800-53", "covered_by"=>[], "implementation_status"=>"not applicable", "narrative"=>[{"text"=>"narrative response"}]}
  
  control_responses[1]: {"control_key"=>"AC-2", "standard_key"=>"NIST-800-53", "covered_by"=>[], "implementation_status"=>"not applicable", "narrative"=>[{"text"=>"narrative response"}]}
--> 
{% assign control_responses = site.data.components[opencontrol_component] %}


<!-- Create an array of controls known NOT to have a control response. 
  This is done by merging nist_controls with control_responses and de-duplicating
  NIST 800-53 keys -->


<aside class="sidenav sticky">
  {% assign sidenav = site.data.nav[page.category] %}
  {% if sidenav %}
  <ul class="usa-sidenav-list">
    {% for link in site.data.nav[page.category] %}
      {% if link.href %}
        {% assign _page = link.href | resolve_permalink %}
      {% else %}
        {% assign _page = nil %}
      {% endif %}
      <li>
      {% if _page %}
        {% include nav/current.html page=_page %}
          <a href="{{ _page.url | relative_url }}"{%
            if _current %} class="usa-current"{% endif %}>
            {% unless sidenav %}<span>{% endunless %}
            {{ include.text | default: _page.title | smartify }}
            {% unless sidenav %}</span>{% endunless %}
          </a>
        {% if _current %}
          {% unless include.flat %}
            {% assign _href_key = include.href_key %}
            {% assign _text_key = include.href_key %}
            {% assign _sublinks = link.links | default: _page.subnav %}
          {% if _sublinks.data %}
            {% assign _href_key = _sublinks.href %}
            {% assign _text_key = _sublinks.text %}
            {% assign _data_key = _sublinks.data %}
            {% assign _sublinks = site.data[_data_key] %}

          {% elsif _sublinks.type %}
            {% assign _sublinks = nil %}
          {% endif %}
          {% if _sublinks %}
            <ul class="{{ include.subnav_class | default: 'usa-sidenav-sub_list' }}">
            {% for slink in _sublinks %}
              {% if slink.href %}
                {% assign _subpage = slink.href | resolve_permalink %}
              {% else %}
                {% assign _subpage = nil %}
              {% endif %}
              <li>
                {% if _subpage %}
                  {%
                    include nav/page-item.html
                    page=_subpage
                    rel=include.rel
                    flat=include.flat
                    links=slink.sublinks
                    subnav_class=include.subnav_class
                    text=slink.text
                  %}
                  {% for control_response in control_responses.satisfies %}
                    {% if slink.text contains control_family_shorthand %}
                      {% if control_response.control_key contains control_family_shorthand %}
                        <ul class="usa-sidenav-sub_list">
			  <ul class="usa-sidenav-sub_list">
                            <li>
		              <a href="#{{ control_response.control_key }}">{{ control_response.control_key }}</a>
			    </li>
                          </ul>
			</ul>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% include nav/link-item.html
                    link=slink
                    subnav_class=include.subnav_class
                    href_key=include.href_key
                    text_key=include.text_key
                  %}
                {% endif %}
              </li>
            {% endfor %}
	  </ul>
          {% endif %}
          {% endunless %}
        {% endif %}

      {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</aside>

<main id="main-content" class="main-content">

  <div class="styleguide-content usa-content">
    <header>
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
    </header>

    {% include lead.html text=page.lead %}

    <br />
<!-- 
  AC-1:
  family: {{ control_family_shorthand | upcase }}
  name: Access Control Policy And Procedures
  description: |-
    The organization:
      a.  Develops, d -->


<!-- liquid templates do not support variables in function calls, so this hacky
     if stanza is needed -->
{% if control_family_shorthand == 'AC' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "AC" %}
{% elsif control_family_shorthand == 'AT' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "AT" %}
{% elsif control_family_shorthand == 'AU' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "AU" %}
{% elsif control_family_shorthand == 'CA' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "CA" %}
{% elsif control_family_shorthand == 'CM' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "CM" %}
{% elsif control_family_shorthand == 'CP' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "CP" %}
{% elsif control_family_shorthand == 'IA' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "IA" %}
{% elsif control_family_shorthand == 'IR' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "IR" %}
{% elsif control_family_shorthand == 'MA' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "MA" %}
{% elsif control_family_shorthand == 'MP' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "MP" %}
{% elsif control_family_shorthand == 'PE' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "PE" %}
{% elsif control_family_shorthand == 'PL' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "PL" %}
{% elsif control_family_shorthand == 'PS' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "PS" %}
{% elsif control_family_shorthand == 'RA' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "RA" %}
{% elsif control_family_shorthand == 'SA' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "SA" %}
{% elsif control_family_shorthand == 'SC' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "SC" %}
{% elsif control_family_shorthand == 'SI' %}
  {% assign controls = site.data.standards.nist-800-53-rev4 | where: "family", "SI" %}
{% endif %}

<!--
<p>
  When accounting for Control Enhancements, the NIST 800-53 rev4 catalog includes {{ controls | size }} potential controls for this control family. Of those, {{ page.product_info.name }} has documented the following:<br />
  <br />
  - 54 of 123 are not applicable<br />
  - 12 of 123 are planned<br />
  - 82 of 123 are complete<br />
--> 


<!-- NEW RTM -->
<h2>
  <center>Requirements Traceability Matrix</center>
</h2>
        <!-- create an array of every control, e.g.
          AC-1{"family"=>"AC", "name"=>"Access Control Policy And Procedures", "description"=>"The organization:\n a. Develops, documents, and disseminates to [Assignment: organization-defined personnel or roles]:\n 1. An access control policy that addresses purpose, scope, roles, responsibilities, management commitment, coordination among organizational entities, and compliance; and\n 2. Procedures to facilitate the implementation of the access control policy and associated access controls; and\n b. Reviews and updates the current:\n 1. Access control policy [Assignment: organization-defined frequency]; and\n 2. Access control procedures [Assignment: organization-defined frequency]."} 

          control[0] = Control ID, e.g. AC-1
          control[1].family = family
          control[1].description = description -->

    <center>
      <table width="85%">
        <thead>
          <tr>
            <th>Control</th> 
            <th>Name</th>
            <th>Status</th>
          </tr>
        </thead>
        {% for control in site.data.standards.nist-800-53-rev4 %}
          {% if control[1].family == control_family_shorthand %}
            <tr>
              <td><a href="#{{ control[0] }}">{{ control[0] }}</a></td>
              <td>{{ control[1].name }}</td>
              <td>
                <center>
                  {% for key_response in site.data.components[opencontrol_component].satisfies %}
                    {% if key_response.control_key == control[0] %}

                      {% if key_response.implementation_status == 'complete' or key_response.implementation_status == 'not applicable' %}
                      <div class="usa-alert usa-alert-success" >
                      {% elsif key_response.implementation_status == 'partial' %}
                      <div class="usa-alert usa-alert-warning" >
                      {% elsif key_response.implementation_status == 'planned' %}
                      <div class="usa-alert usa-alert-info" > 
                      {% else %} 
                      <div class="usa-alert usa-alert-error" role="alert" > 
                      {% endif %} 
                        <div class="usa-alert-body">
                           <p class="usa-alert-text">{{ key_response.implementation_status }}</p>
                        </div>
                      </div>
                      {% assign match = true %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                  {% if match != true %}
                    <div class="usa-alert usa-alert-error" role="alert" >
                      <div class="usa-alert-body">
                       <p class="usa-alert-text">unknown</p>
                      </div>
                    </div>
                  {% endif %}
                </center>
              </td>
            </tr>
          {% endif %}
          {% assign match = false %}
        {% endfor %}
      </table>
    </center>
<!-- END NEW RTM -->

<!-- BEGIN NEW CONTROL RESPONSE TABLES -->
    {% for control in site.data.standards.nist-800-53-rev4 %}
      {% if control[1].family == control_family_shorthand %}
        <div class="usa-grid" id="{{ control[0] }}">
          <br /><hr class="homepage-rule center-diamond" /><br />
        </div>
        <div class="alignment-example" align="center">
          <h2>{{ control[0] }}: {{ control[1].name }}</h2>
          <h4>{{ control[1].description | markdownify }}</h4>
        </div>

    <center>
    <table width="85%">
      <thead>
        <tr>
          <th scope="row">
            <strong>
              <center>
                {{ control[0] }} Control Response Information
              </center>
            </strong>
          </th>
        </tr>
      </thead>
      <tr>
        <td>
          <b>Implementation Status: </b> 

          <!-- For every response in the OpenControl data... -->
          {% for key_response in site.data.components[opencontrol_component].satisfies %}
            
            <!-- Evaluate if the array element matches the NIST 800-53 key
                 currently being documented -->
            {% if key_response.control_key == control[0] %}
              <!-- And if it does... -->

              <!-- setup the appropriate div class -->
              {% if key_response.implementation_status == 'complete' or key_response.implementation_status == 'not applicable' %}
                <div class="usa-alert usa-alert-success" >
              {% elsif key_response.implementation_status == 'partial' %}
                <div class="usa-alert usa-alert-warning" >
              {% elsif key_response.implementation_status == 'planned' %}
                <div class="usa-alert usa-alert-info" > 
              {% else %} 
                <!-- if not complete, not applicable, partial, or planned, throw an 'alert' class -->
                <div class="usa-alert usa-alert-error" role="alert" > 
              {% endif %} 

                  <!-- Populate the content of the implementation_status class -->
                  <div class="usa-alert-body">
                    <p class="usa-alert-text">{{ key_response.implementation_status }}</p>
                  </div>
                </div>

              <!-- Indicate there was a match between the OpenControl content and NIST 800-53 control -->
              {% assign match = true %}

              <!-- Break out of the loop. Technically not needed, but makes builds faster -->
              {% break %}

            {% endif %}

            <!-- Reset the match variable now that we're out of the for-loop -->
            {% assign match = false %}
          {% endfor %}

          <!-- If there wasn't a match, insert "unknown" into the alert div class -->
          {% if match != true %}
            <div class="usa-alert usa-alert-error" role="alert" >
              <div class="usa-alert-body">
               <p class="usa-alert-text">unknown</p>
              </div>
            </div>
          {% endif %}

        </td>
      </tr>
    </table>

    <table width="85%">
      <thead>
        <tr>
          <th>{{ control[0] }}: What is the solution and how is it implemented?</th>
        </tr>
      </thead>
      {% for key_response in site.data.components[opencontrol_component].satisfies %}
        {% if key_response.control_key == control[0] %}
          {% for key in key_response.narrative %}
            <tr>
              <td>
                {% if key.key != null %}
                <b>{{ control[0] }}({{ key.key }}):</b>
                {% endif %}
                {{ key.text | markdownify  | replace: '\n', '<br />' | replace: "'", '<p>' | replace: "'", '</p>' }}
              </td>
            </tr>
          {% endfor %}
          {% assign match = true %}
          {% break %}
        {% endif %}
        {% assign match = false %}
      {% endfor %}
      {% if match != true %}
        <tr>
          <td>This control has not been evaluated in the context of {{ page.product_info.name }}.</td>
        </tr>
      {% endif %}
    </table>
  </center>
    {% endif %}
    {% endfor %}

    <!-- END CONTROL RESPONSE LOOP -->

  </div> <!-- end styleguide-content. This should be 2nd to last tag on template -->
</main> <!-- end main-content. This should be the last tag on template page -->
